.projects{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: -1;
    height: 70vh;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: calc(1vw + 1vh);
    color: white;
}

.link{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: calc(1vw + 1vh);
    color: #fbb03b;
}

.links{
    display: flex;
    gap: 30px;
}

@media all and (min-width: 580px)
{
    .projects{
        grid-row-start: 2;
    }
    p{
        font-size: calc(1vw + 0.7vh);
    }
    .link{
        font-size: calc(1vw + 0.7vh);
    }
}